document
	html
		title jade测试
		meta(name='viewport' content='width=device-width initial-scale=1.0')
	body
		.container
		section#aside
		ul
			li #{name} &lt; #{age} &gt;
			li #{name} &lt; #{age} &gt;
			li #{name} &lt; #{age} &gt;
		input(name='user[name]')